@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        @*<div class="content-wrapper">*@
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
    </section>
}
<html>
<body>
   
    <div style="float:left" id="textabout">
        <h1>Over The Greenery</h1>
        <p id="aboutbody">
            <b><u>Dichter bij de natuur te staan</u></b>. Bij gezond en bewust leven past biologische voeding.
            Proeven wat de natuur je geeft: de echte volle smaak van gezond en (h)eerlijk eten.
            En door te eten wat er bij het seizoen hoort, kom je dichter bij de natuur te staan.
            Met deze insteek proberen wij dan ook zoveel mogelijke mensen op een biologische manier dichter bij de natuur te brengen.
        <p id="aboutbody">
            <b><u>The greenery</u></b> is een trots familie kwekersbedrijf, dat al 3 generaties bestaat in Bleiswijk.
            Wij kweken hier onze biologische groenten en fruit per seizoen al jaren met trots.
            In onze kwekersbedrijf produceren we per seizoen verschillende groente- en fruitsoorten.
            Op de pagina producten staat ons actuele aanbod van het huidige seizoen.
            De producten kunt u bij onze winkel kopen of bestellen.
            We zijn dan ook altijd te bereiken bij onze winkel en kwekerij in Bleiswijk.
            Omdat niet iedereen in de gelegenheid is om naar de winkel te kunnen komen,
            bezorgen we de groentepakketten, groenteabonnementen en producten op bestelling aan huis.
            Op de pagina pakketten leest u hier meer over.
        <p id="aboutbody">
            <b><u>Wij zijn Oprecht en eerlijk</u></b> en daarom kunnen wij garanderen dat al onze producten 100% biologisch zijn.
            Onze producten zijn voorzien van het EKO-keurmerk.
            Biologische groente en fruit wordt geteeld zonder kunstmest, chemische bestrijdingsmiddelen en gentechnologie.
            Wij houden door deze werkwijze de natuurlijke kringloop in stand.
            Hierdoor en mede door het aanhouden van de seizoenen krijgen planten de tijd in hun eigen natuurlijke tempo te groeien.
            Dit komt de smaakt en de kwaliteit van de groente en het fruit zeer ten goede en spaart bovendien het milieu.
            Het EKO-keurmerk geeft u de garantie dat de producten volledig biologisch geteeld zijn.
            Biologische bedrijven, worden hierop enkele keren per jaar gecontroleerd door Skal, een onafhankelijke organisatie: <a href="url">http://www.skal.nl/</a>.
            Alleen bedrijven die aan de strenge eisen van het Europese keurmerk voldoen, mogen het EKO-keurmerk voeren.
        <p id="aboutbody">
            <h2><b><u>De pijlers waarop The Greenery staat:</u></b></h2>
            <br>&#9755 &nbsp;&nbsp;	Biologische groenten en fruit in thema van het seizoen.
            <br>&#9755 &nbsp;&nbsp;	Biologische groenten van eigen bodem.
            <br>&#9755 &nbsp;&nbsp;	Een trots 3 generaties bestaand familie kwekersbedrijf.
            <br>&#9755 &nbsp;&nbsp;	Oprecht en eerlijk en daarom gegarandeerd het EKO-keurmerk.
</div>
        @*<style>   Geen idee wat did doet, maar ik verwijder het ook niet ~hussein
            ul#menu li {
                display: inline;
            }
        </style>*@
        @*           Dit was niet zo nuttig, maar ik verwijder het niet ~hussein
        <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("AlgemeneVoorwaarden", "AlgemeneVoorwaarden", "Home")</li>
    </ul>*@
</body>
</html>