@using TheGreenery.Models;
@model List<Product>

@{           
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        @*<div class="content-wrapper">*@
        <hgroup class="title"></hgroup>
           
        
        <style>
            p {
                width: 75em;
                white-space: pre-line;
                word-break: keep-all;
                
            }
        </style>
        <div style="margin-left: 25%"><h1>Alleen deze week!!</h1></div><br>
        <p style="margin-left: 25%">
            Welkom op de website van The Greenery! Wij zijn een familiebedrijf gespecialiseerd in 100%

            biologische groenten en fruit en zijn gevestigd in Bleiswijk. U kunt bij ons langskomen, maar het is

            ook mogelijk om producten online bij ons te bestellen en zelfs te laten thuisbezorgen<a href="/Home/About"><u>lees meer..</u></a>.
        </p>
    </section>
}
<!DOCTYPE html>

<html>

<head>
    <title></title>
    <meta charset="utf-8" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    
</head>


<body>
    
    <p> <h1>@ViewBag.Title "Alleen deze week!!!"</h1></p><br />

    <div class="round">
        <div class="one">
          
            <div></div>
        </div>
        
        <div class="two">
          
            <div class="two">

                <div id="producetop" class="row">

                    @{ if ((@Model == null) || (Model.Count == 0))
                     {
                        <div>geen producten gevonden</div>
                     }
                     else
                     {
                        <div></div><br>
                         foreach (Product pro in Model)
                         {

                            <div id="produce" style="float: left inherit">
                                <fieldset id="produce">
                                <div>                       <h3>@pro.naam</h3></div>
                                <div><img width="200" height="150" src="~/Images/@pro.imageNaam" /></div>
                                <div>productnr:             @pro.productnr</div>
                                <div>Prijs:€                @pro.prijsPerEenheid</div>
                                <div>Voorraad:              @pro.voorraadPerEenheid</div>
                                <div>Omschrijving:<br />    @pro.omschrijving</div>
                                <div>Eenheid:       @pro.eenheid</div>
                                </fieldset>
                            </div>


                         }
                     }
                    }

                </div>

            </div>
          
               

            </div>
        </div>

        <div class="three">

        </div>
  
</body>
</html>