@model TheGreenery.Models.Klant


@{
    ViewBag.Title = "Registreer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreer</h2>

@*@using (Html.BeginForm(@*"geregistreerd","home", FormMethod.Post)) {*@
    @*@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@


    <fieldset>
    <form name="inlogForm" action="/Home/geregistreerd" method="post" >
        <label for="voorletters">Voorletters:</label><br />
        <input type="text" name="voorletters" value="" id="voorlettersText"/><br />
        <label for="tussenvoegsel">Tussenvoegsel:</label><br />
        <input type="text" name="tussenvoegsel" value="" /><br />
        <label for="achternaam">Achternaam:</label><br />
        <input type="text" name="achternaam" value="" /><br />
        <label for="adres">Adres:</label><br />
        <input type="text" name="adres" value="" /><br />
        <label for="postcode">Postcode:</label><br />
        <input type="text" name="postcode" value="" /><br />
        <label for="woonplaats">Woonplaats:</label><br />
        <input type="text" name="woonplaats" value="" /><br />
        <label for="telefoonnr">Telefoon:</label><br />
        <input type="text" name="telefoonnr" value="" /><br />
        <label for="mail">E-mail:</label><br />
        <input type="text" name="mail" value="" /><br />
        <label for="wachtwoord">Wachtwoord:</label><br />
        <input type="password" name="wachtwoord" value="" /><br />
        <label for="wachtwoord_herhalen">Wachtwoord Herhalen:</label><br />
        <input type="password" name="wachtwoord_herhalen" value="" /><br />
        <br />
        <input type="submit" value="Registreren" />
    </form>

        @*<fieldset>
            <legend>Klant</legend>
            @*<form action="~/DBcontrollers/InsertRegistratie">
                

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.voorletters)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.voorletters)
                    @Html.ValidationMessageFor(model => model.voorletters)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.tussenvoegsel)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.tussenvoegsel)
                    @Html.ValidationMessageFor(Model => Model.tussenvoegsel)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.achternaam)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.achternaam)
                    @Html.ValidationMessageFor(Model => Model.achternaam)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.adres)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.adres)
                    @Html.ValidationMessageFor(Model => Model.adres)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.postcode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.postcode)
                    @Html.ValidationMessageFor(Model => Model.postcode)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.woonplaats)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.woonplaats)
                    @Html.ValidationMessageFor(Model => Model.woonplaats)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.telefoonnr)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.telefoonnr)
                    @Html.ValidationMessageFor(Model => Model.telefoonnr)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.mail)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.mail)
                    @Html.ValidationMessageFor(Model => Model.mail)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.wachtwoord)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.wachtwoord)
                    @Html.ValidationMessageFor(Model => Model.wachtwoord)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(Model => Model.wachtwoord_herhalen)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.wachtwoord_herhalen)
                    @Html.ValidationMessageFor(Model => Model.wachtwoord_herhalen)
                </div>

                <p>
                    <input type="submit" value="Create" />
                </p>
            @*</form>
</fieldset>*@
    </fieldset>
@*}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
