@using TheGreenery.Models;
@model List<Bestelling>
@using System.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        @*<div class="content-wrapper">*@
        <hgroup class="title"></hgroup>
        <p><h1>@ViewBag.Title "Bestellingen"</h1></p><br />
    </section>
}

@{ if ((@Model == null) || (Model.Count == 0))
 {
    <div>geen producten gevonden</div>
 }
 else
 {
    <div></div><br>
     foreach (Bestelling pro in Model)
     {
        <fieldset>
            <legend>Bestelling:</legend>
            <form action="@Url.Action("StatusGewijzigd", "Beheerder")" method="post">
                <div id="produce" style="float: left inherit">
                    <div>Bestellingnr:          @pro.bestellingnr</div>
                    <div>Klantnr:               @pro.klantnr</div>
                    <div>Totaalbedrag:€         @pro.totaalbedrag</div>
                </div>
                <p>
                    <input type="submit" value="Annuleren" />
                </p>
            </form>
        </fieldset>
     }
 }
}





