@using TheGreenery.Controllers;
@using TheGreenery.Models;
@model List<Personeel>
@{

    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

@section featured {
    <section class="zoek">
        @*<div class="content-wrapper">*@
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </section>
}

<h2>Overzicht Personeel</h2>
<html>
<body>
    <fieldset>
        <div>
            @{ if ((@Model == null) || (Model.Count == 0))
             {
                <div>geen personeel gevonden</div>
             }
             else
             {
                <div>de volgende personeelsleden zijn gevonden</div><br>
                 foreach (Personeel per in Model)
                 {
                    <div>personeelnummer:   @per.personeelnr</div>
                    <div>voorletters:       @per.voorletters</div>
                    <div>tussenvoegsel:     @per.tussenvoegsel</div>
                    <div>achternaam:        @per.achternaam</div>
                 }
             }
            }
        </div>
    </fieldset>
</body>
</html>

