@using TheGreenery.Models;
@using TheGreenery.DBcontrollers;
@using TheGreenery.Controllers;
@model List<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
    </section>
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="two">
        <div id="producetop" class="row">
            <div><h1>Frisse Zomer selectie!</h1></div><br>
            @{ if ((@Model == null) || (Model.Count == 0))
             {
                <div>geen producten gevonden</div>
             }
             else
             {
                <div></div><br>
                 foreach (Product pro in Model)
                 {
                    <div id="produce" style="float: left inherit">
                        <fieldset id="produce">
                            <div>                       <h3>@pro.naam</h3></div>
                            <div><img width="200" height="150" src="~/Images/@pro.imageNaam" /></div>
                            <div>productnr:             @pro.productnr</div>
                            <div>Prijs:€                @pro.prijsPerEenheid</div>
                            <div>Voorraad:              @pro.voorraadPerEenheid</div>
                            <div>Omschrijving:<br />    @pro.omschrijving</div>
                            <div>Eenheid:       @pro.eenheid</div>
                            <div>@Html.ActionLink("Bestelling plaatsen", "Bestellingplaatsen", "Winkelwagen", new { productnr = pro.productnr }, null)</div>
                        </fieldset>
                    </div>
                 }
             }
            }
        </div>
    </div>
</body>
</html>
